<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Código de cliente' %><br />
    <%= f.number_field :cliente %>
  </div>
  <div class="field">
    <%= f.label 'Código de producto' %><br />
    <%= f.number_field :producto %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label 'Precio de venta' %><br />
    <%= f.number_field :precio_venta %>
  </div>
  <div class="field">
    <%= f.label :notas %><br />
    <%= f.text_area :notas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
