<%= form_for(@pago) do |f| %>
  <% if @pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pago.errors.count, "error") %> prohibited this pago from being saved:</h2>

      <ul>
      <% @pago.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venta %><br />
    <%= f.number_field :venta %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.number_field :monto %>
  </div>
  <div class="field">
    <%= f.label :notas %><br />
    <%= f.text_area :notas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
